*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    font-size: var(--basic-font-size);
    font-family: var(--basic-font-family);
    line-height: 1.3;
    color: var(--main-color);

}

input {
    font-size: var(--basic-font-size);
    font-family: var(--basic-font-family);
}

input::placeholder {
    font-size: var(--basic-font-size);
    font-family: var(--basic-font-family);
    color: var(--grey);
}

.container {
    max-width: 1190px;
    margin: 0 auto;
    padding: 0 10px;
}

.button {
    font-size: var(--basic-font-size);
    font-family: var(--basic-font-family);
    font-weight: 500;
    line-height: 1.5;
    padding: 0.75rem 1rem;
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
}

.button.contained {
    background-color: var(--primary);
    color: var(--white-color);
}

.button.contained:hover {
    background-color: var(--primary-10);
}

.button.contained:active {
    background-color: var(--primary-20);
}

.button.contained:disabled {
    background-color: var(--primary);
    opacity: 0.65;
    cursor: not-allowed;
}

.button.outlined {
    border-color: var(--primary);
    color: var(--primary);
}

.button.outlined:hover {
    color: var(--white-color);
    background-color: var(--primary-10);
    border-color: var(--primary-10);
}

.button.outlined:active {
    color: var(--white-color);
    background-color: var(--primary-20);
    border-color: var(--primary-20);
}

.button.outlined:disabled {
    border-color: var(--primary);
    background-color: transparent;
    color: var(--primary);
    opacity: 0.65;
    cursor: not-allowed;
}

.button.full-width {
    width: 100%;
}

.clear-button {
    font-size: var(--basic-font-size);
    font-family: var(--basic-font-family);
    background-color: transparent;
    padding: 0;
    border: 0;
    color: var(--grey);
    cursor: pointer;
}


h3 {
    font-size: 3rem;
}

/* header */

.logo {
    text-decoration: none;
    color: var(--primary);
    font-size: 36px;
    font-weight: 500;
}

.header {
    padding: 2rem 0;
}

.header__wrapper,
.header__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.menu__list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.menu__item {
    position: relative;

}

.menu__item--active::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    background-color: var(--primary);
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2px;
}



.menu__list a {
    text-decoration: none;
    color: var(--main-color);
}

.menu__list a:hover {
    color: var(--primary);
}


/* CARD PRODUCT */

.cart-product__label {
    position: absolute;
    /* top: 0;
    left: 0; */
    padding: 0.75rem 1.125rem;
    font-size: 1.125rem;
    text-transform: uppercase;
    font-weight: 500;
}

.cart-product__label--sale {
    color: var(--white-color);
    background-color: var(--red);
}

.cart-product__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.cart-product__delivery {
    color: var(--grey);
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.cart-product__price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.cart-product__current-price {
    font-size: 2rem;
    font-weight: 500;
}

.cart-product__old-price {
    font-size: 1.125rem;
    text-decoration: line-through;
}

.cart-product__discount {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--primary);
}


/* FOOTER */

.footer {
    background-color: var(--main-color);
    color: var(--white-color);
    padding: 4rem 0;
}

.footer__contacts {
    text-align: center;
    padding-bottom: 2rem;
    border-bottom: 1px solid var(--white-color);
    margin-bottom: 2rem;
}

.footer__contacts h3 {
    margin-bottom: 2rem;
}

.footer a {
    color: inherit;

}

.contacts__list {
    font-size: 1.25rem;
}

.contacts__list li {
    margin-bottom: 1rem;
}

.contacts__list li:last-child {
    margin-bottom: 0;
}

.social-links {
    display: flex;
    gap: 1.5rem;
}

.social-links li:hover {
    color: var(--primary);
}

.footer__copyright {
    color: var(--primary);
    text-align: center;
    margin-top: 3rem;
}