.figures {
    display: flex;
    gap: 20px;
    align-items: center;
}


.square {
    fill: blue;
    stroke: black;
    stroke-width: 5;
}
.square:hover{
    fill: green;
    stroke: rgb(255, 6, 6);
}

.rectangle {
    fill: red;
    stroke: purple;
    stroke-width: 5;
}

.circle {
    fill: black;
    stroke: red;
    stroke-width: 5;
}

.ellipse {
    fill: yellow;
    stroke: green;
    stroke-width: 5;
}


