.text {
    justify-content: center;
    margin-top: 10px;
    display: flex;
}

.bloks {
    justify-content: center;
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.parent {
    width: 100px;
    height: 100px;
    background-color: blanchedalmond;
    position: relative;
}

.child {
    color: white;
    background-color: red;
    position: absolute;
    top: 0;
    left: 0;
}

.child0 {
    color: white;
    background-color: red;
    position: absolute;
    top: 0;
    right: 0;
}

.child1 {
    color: white;
    background-color: red;
    position: absolute;
    bottom: 0;
    left: 0;
}

.child2 {
    color: white;
    background-color: red;
    position: absolute;
    bottom: 0;
    right: 0;
}

/* Таблиця */

table {
    margin: 0 auto;
    margin-top: 20px;
    border-collapse: collapse;
}

td {
    width: 50px;
    height: 50px;
    border: 2px solid black;
}

.white {
    background-color: white;
}

.red {
    background-color: red;
}

.yellow {
    background-color: yellow;
}

.blue {
    background-color: blue;
}

.black {
    background-color: black;
}