.product__wrapper {
    display: flex;
    align-items: start;
    gap: 3rem;
}


.product__info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.beadrumbs {
    display: flex;
    flex-wrap: wrap;
    font-size: 1.25rem;
}

.beadrumbs li {
    position: relative;
    padding-right: 2rem;
    margin-right: 0.5rem;
}

.beadrumbs li:last-child {
    padding-right: 0;
    margin-right: 0;
}

.beadrumbs li::after {
    content: "";
    position: absolute;
    top: -2px;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url(../assets/icons/angle-right-small.svg);
}

.beadrumbs li:last-child::after {
    display: none;
}

.beadrumbs a {
    color: var(--grey);
    text-decoration: none;
}

.product__main-image {
    min-width: 468px;
    max-height: 648px;
}

.product__main-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product__title {
    font-size: 3rem;
    font-weight: 500;
}

.product__price-wrapper {
    display: flex;
    align-items: center;

}

.product__price {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    ;
}

.product__current-price {
    font-size: 2rem;
    font-weight: 500;
}

.product__old-price {
    font-size: 1.25rem;
    text-decoration: line-through;
}

.product__discount {
    font-size: 1.125rem;
    position: relative;
    padding-left: 30px;
    color: var(--primary);
}

.product__discount::after {
    content: "";
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translate(0%, -50%);
    background-color: var(--primary);
}

.product__description h6 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    font-weight: 500;
}

.product__description p {
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--grey);
}

.product__buttons-wrapper {
    display: flex;
    gap: 1.25rem;
}

.product__buttons-wrapper .button {
    flex: 2;

}

.product__buttons-wrapper .counter {
    flex: 1;
}

.counter {
    font-weight: 500;
    color: var(--primary);
    padding: 0.75rem;
    border: 1px solid var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.75rem;
}

.counter button {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;
}

.product__images {
    display: flex;
    align-items: start;
    gap: 3rem;
}

.product__side-images {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.product__side-images div {
    width: 150px;
    height: 165px;
}

.product__side-images img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}

.recommend-products {
    background-color: var(--primary-00);
    padding: 5rem 0;

}

.recommend-products h2 {
    font-size: 3.75rem;
    margin-bottom: 3.375rem;
}

.recommend-products__wrapper {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 3rem;

}

/*sidebar */

.sidebas__backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    opacity: 0.5;
}

.sidebar__content {
    display: flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    max-width: 820px;
    height: 100%;
    background-color: var(--white-color);
}

.sidebar__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    padding: 1.5rem 1.75rem;
}

.sidebar__close-btn {
    background-color: transparent;
    padding: 0;
    border: 0;
    cursor: pointer;

}

.sidebar__close-btn img {
    transform: rotate(45deg);
    width: 48px;
}

.sidebar__wrapper {
    overflow-y: scroll;
    flex: 1;
    padding: 1.75rem;
}


.table__header,
.table__row {
    display: grid;
    grid-template-columns: 1fr 120px 130px 120px;
    align-items: center;
    gap: 1.25rem;
}

.table__row {
    padding-bottom: 1.25rem;
    border-bottom: 1px solid var(--grey-10);
    margin-bottom: 1.5rem;
}

.table__header {
    font-size: 1.25rem;
    font-weight: 500;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--grey-10);
    margin-bottom: 1.5rem;

}

.product-cell {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.product-cell__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.product-cell__category {
    font-size: 0.875rem;
    color: var(--grey);
}

.price-cell,
.subtotal-cell {
    font-size: 1.5rem;
    font-weight: 500;
}

.sidebar__footer{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    padding: 1.5rem 1.75rem;
    background-color: var(--primary-00);
}

.summary__line{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.summary__subtitle{
    font-size: 1.125rem;
    color: var(--grey);
}

.summary__title{
    font-size: 1.875rem;
}

.summary__price{
     font-size: 1.125rem;
    font-weight: 500;

}